.hero {
    background-image: url(../../assets/images/classic-building-with-plant-on-wall.jpg);
    display: flex;
    height: 100dvh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    box-shadow: 0 2px 4px 2px #000000b1;
    /* border-bottom: 1px solid #ffffff2e; */
    margin-bottom: 4rem;
    margin-top: calc(var(--site-header-height) * -1);
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% + var(--site-header-height));
    margin-top: var(--site-header-height);
    justify-content: center;
    gap: 2rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content;
    width: 100%;
}

.hero p, .hero h1, .hero h2, .hero a {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 1px 3px 0px #230000, 0 0 4px #678f9a, 0 0 9px #3e2727, 0 0 8px #000000;
    text-align: center;
    font-family: var(--font-serif);
}

.hero header {
    padding: 1rem;
    padding-bottom: 0;
}

.hero .banner {
    width: 100%;
    padding: 1rem;
    background-color: #00000099;
    border-top: 1px solid #fff;

    background-color: var(--theme-banner-color-primary);
    backdrop-filter: blur(5px);
    border-top: 1px solid #ffffff69;
    box-shadow: 0px -1px 4px 1px #000000a3;
}

.hero .heading {
    /* font-size: clamp(20px, 10vw, 6rem); */
    font-size: clamp(12px, calc(6vw + 20px), 4rem);
    font-weight: 900;
}

.hero .slug {
    color: #fff;
    font-size: clamp(16px, 1.8vw, 4rem);
    font-weight: 600;
    font-family: var(--font-sans);
    padding: 0;
    margin: 0;
    text-shadow: unset;
    color: #39464c;
    font-weight: 400;
}


/* ======== */
/* MOBILE   */
/* ======== */

@media (600px >= width), (600px >= height) {
    .hero .heading {
        font-size: 3rem;
        font-weight: 600;
    }
    .hero .slug {
        font-size: 16px;
        font-weight: 300;
    }
}

