:root {
    --theme-color-primary: #fdb18e;
    --site-header-height: 160px;
}

/* html, body {
    background: var(--landing-bg-color);
} */


/* @media screen and (prefers-color-scheme: dark) {
    :root {
        --landing-bg-color: #191919;
        --landing-fg-color: #2925257a;
        --landing-border-color: #2f5066;
    }
} */


