article, section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* === IMAGES === */

.scroll-container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    max-width: 100%;
    padding: 10px 20px;
    /* background-image: url("../images/backgrounds/linen.png"); */

    background: #c4c4c41a;
    border: 1px solid #c3c3c3;
    border-left: none;
    border-right: none;
    box-shadow: inset 0 0 5px 1px #61616136;
}

.scroll-container img {
    display: block;
    height: auto;
    max-height: 500px;
    margin: 10px;
    border-radius: 1em;
    border: .5px solid #2f2f2f;
    box-shadow: 0 0 2px 1px #898585;
}

.scroll-container>picture {
    display: inline-block;
    min-width: max-content;
}

.scroll-container picture {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

/* === MEDIA SCREEN & DARK MODE === */

@media screen and (prefers-color-scheme: dark) {
    .scroll-container {
        background: #000000;
        border: 1px solid #474747;
        box-shadow: none;
        border-left: none;
        border-right: none;
    }

    .scroll-container img {
        box-shadow: none;
        border: 1px solid #202020;
    }
}
