.hero {
  background-image: url("../../assets/images/classic-building-with-plant-on-wall.jpg");
  display: flex;
  height: 100dvh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  box-shadow: 0 2px 4px 2px #000000b1;
  margin-bottom: 4rem;
  margin-top: calc(var(--site-header-height) * -1);
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% + var(--site-header-height));
  margin-top: var(--site-header-height);
  justify-content: center;
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content;
}

.hero p, .hero h1, .hero h2, .hero a {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 1px 3px #230000, 0 0 4px #678f9a, 0 0 9px #3e2727, 0 0 8px #000;
  text-align: center;
  font-family: var(--font-serif);
}

.hero header {
  padding: 1rem;
  padding-bottom: 0;
}

.hero .heading {
  font-size: clamp(20px, 10vw, 6rem);
  font-weight: 900;
}

.hero .slug {
  color: #fff;
  font-size: clamp(18px, 2.5vw, 4rem);
  font-weight: 600;
  font-family: var(--font-sans);
  padding: 0;
  margin: 0;
}

.hero .cta {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.hero .cta a {
  font-size: 2rem;
  font-family: var(--font-sans);
}

.hero .banner {
  width: 100%;
  padding: 1rem;
  background-color: #0009;
  border-top: 1px solid #fff;
  background-color: var(--theme-banner-color-primary);
  backdrop-filter: blur(5px);
  border-top: 1px solid #ffffff69;
  box-shadow: 0 -1px 4px 1px #000000a3;
}

.hero .banner p {
  text-shadow: unset;
  color: #39464c;
  font-weight: 400;
}
