<footer id="site-footer">
    <nav aria-label="Footer">
        <section>
            <h1>Studios</h1>
            <ul>
                <li><a href="#">Spa</a></li>
                <li><a href="#">Salon</a></li>
                <li><a href="#">Fitness</a></li>
                <li><a href="#">Recovery</a></li>
                <li><a href="#">Cafe</a></li>
                <li><a href="#">Events</a></li>
            </ul>
        </section>
        <section>
            <h1>Info</h1>
            <ul>
                <li><a href="#">Contact & Address</a></li>
                <li><a href="#">Tour Canvas & Stone</a></li>
                <li class="phone"><a href="tel:+1-000-000-0000">(000) 000-0000</a></li>
                <li class="button"><a href="#">Mobile App</a></li>
            </ul>
        </section>
        <section>
            <h1>Other</h1>
            <ul>
                <li><a href="#">Gift Cards</a></li>
                <li><a href="#">Memberships & Rates</a></li>
                <li><a href="#">Best of Utah Valley</a></li>
                <li><a href="#">26&2 Yoga Teacher Training</a></li>
            </ul>
        </section>
        <section>
            <h1>Social</h1>
            <ul>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </section>
    </nav>
</footer>

<style>
#site-footer {
    background-color: #313130;
    padding: 1rem;
    overflow-x: scroll;
}
#site-footer nav {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    width: max-content;
}

#site-footer nav section {
    min-width: max-content;
}

#site-footer p, #site-footer span, #site-footer a, #site-footer h2 {
    color: #fff;
}
</style>
