<hoist>
    <link rel="stylesheet" type="text/css" href="./site-header.css">
</hoist>

<header id="site-header">
    <div class="branding">
        <h1 class="item"><a href="../../pages/index.html">Canvas & Stone</a></h1>
        <p class="tagline">Discover Wellness</p>
    </div>
    <div class="menu">
        <nav aria-label="Main navigation" class="desktop">
            <ul>
                <li class="item"><a href="#">Spa</a></li>
                <li class="item"><a href="#">Salon</a></li>
                <li class="item"><a href="#">Fitness</a></li>
                <li class="item"><a href="#">Recovery</a></li>
                <li class="item"><a href="#">Cafe</a></li>
                <li class="item"><a href="#">Events</a></li>
            </ul>
        </nav>
        <div class="utility desktop">
            <a class="button item" href="#">Mobile App</a>
            <a class="phone item" href="tel:+1-000-000-0000">(000) 000-0000</a>
        </div>
        <button id="menu-btn" class="open-nav mobile" aria-expanded="false" style="padding-bottom:4px;">☰</button>
    </div>
</header>

<script src="./site-header.js"></script>
