#site-header {
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
    z-index: 4;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid #ffffff69;
    box-shadow: 0px 1px 4px 1px #000000a3;

    height: var(--site-header-height);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content;
    align-content: space-between;

    background-color: var(--theme-banner-color-primary);
}

#site-header .branding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;

    display: flex;
    justify-content: center;
    height: 100%;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 1rem 1rem;
}

#site-header .menu {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid #ffffff;
}

#site-header nav {
    display: contents;
}

#site-header ul {
    display: contents;
}

#site-header ul li {
    margin: 0;
}

#site-header .utility {
    display: contents;
}

#site-header .item {
    text-align: center;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: var(--font-sans);
    font-weight: 300;
    color: inherit;
    color: #2c2c2c;
}

#site-header .menu .item {
    padding: 1rem;
}

#site-header h1.item {
    font-size: 1.7rem;
    font-family: var(--font-sans);
    font-weight: 300;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: #000;
}

#site-header .tagline {
    font-size: 1rem;
    font-family: var(--font-sans);
    font-weight: 300;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: #484848;
    text-align: center;
}

#site-header a {
    text-decoration: none;
    color: inherit;
}

#menu-btn {
    margin: 0.5rem;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 0 1px 0px #000;
    font-size: 1.5rem;
}

#menu-btn:active,
#menu-btn.tap {
    color: #0046ff;
    box-shadow: 0 0 4px 2px #191b8d91;
}


/* ------------------------------------------------------------------------- */
/* MOBILE STYLING */
/* ------------------------------------------------------------------------- */

#site-header .mobile {
    display: none;
}

@media (width <= 960px), (height <= 600px) {
    :root {
        --site-header-height: 100px;
    }
    
    #site-header {
        display: grid;
        grid-template-columns: 1fr max-content;
    }
    
    #site-header .menu {
        border: unset;
        border-left: 2px solid #ffffff69;
        border-left: 1px solid #84848469;
        height: 100%;
        width: max-content;
    }

    #site-header .branding {
        padding-left: 4.5rem;
    }

    #menu-btn {
        margin: 1rem;
    }

    #site-header .desktop {
        display: none;
    }
    #site-header .mobile {
        display: unset;
    }
}

@media (width <= 960px) and (height <= 400px) {
    :root {
        --site-header-height: 70px;
    }

    #site-header .branding {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
    }

    #menu-btn {
        margin: 10px;
    }
}

@media (700px >= width), (500px >= height) {
    :root {
        --site-header-height: 70px;
    }
    #site-header p {
        display: none;
    }

    #site-header h1.item {
        font-size: 18px;
    }

    #menu-btn {
        margin: 10px;
    }
}

