<hoist>
    <link rel="stylesheet" type="text/css" href="./site-nav-full-width.css">
</hoist>

<nav id="site-nav-full-width">
    <div class="container">
        <div class="primary">
            <ul class="menu">
                <li>
                    <a href="../../pages/index.html">Home</a>
                </li>
                <li class="item"><a href="../../pages/todo/index.html">Spa</a></li>
                <li class="item"><a href="../../pages/todo/index.html">Salon</a></li>
                <li class="item"><a href="../../pages/todo/index.html">Fitness</a></li>
                <li class="item"><a href="../../pages/todo/index.html">Recovery</a></li>
                <li class="item"><a href="../../pages/todo/index.html">Cafe</a></li>
                <li class="item"><a href="../../pages/todo/index.html">Events</a></li>
            </ul>
        </div>
        <div class="secondary">
            <p style="margin-top: 0.5rem;">Social</p>
            <ul class="externals">
                <li><a href="https://www.example.com">Twitter⧸X</a></li>
                <li><a href="https://www.example.com">Facebook</a></li>
                <li><a href="https://www.example.com">Instagram</a></li>
            </ul>
            <p style="margin-top: 0.5rem;">Newsletter</p>
            <ul class="externals">
                <li><a href="https://www.example.com">SubStack</a></li>
            </ul>
            <!-- <include src="../parts/newletter-signup.html"></include> -->
            <p style="margin-top: 0.5rem;">Contact</p>
            <ul class="contacts">
                <li class="contact"><a href="mailto:contact@example.com">contact@example.com</a></li>
                <li class="contact"><a href="tel:+1-000-000-0000">(000) 000-0000</a></li>
            </ul>
        </div>
    </div>
</nav>